h1 {
    font-family:Srisakdi;
    color: #DB7093;
}
h2 {
    font-family:Courgette;
    color: 	#B0E0E6;
}


p {
    font-family:Mali;
}
body {
   text-align: center;
}
img {
    height:300px;
    border-radius: 300px;
    border:8px dotted indianred;
    margin:30px;
    background-color:wheat;
}